<!--This page was the main page of the EIMS system. Administrator will use this HTML to search and manage the user's information-->
<!---->

<style>
.search_popover 
{
    max-width: 800px; /* optional max width */
    width: intrinsic; /* Safari/WebKit uses a non-standard name */
    width: -moz-max-content; /* Firefox/Gecko */
    width: 800px; /* Chrome */
    color: black;
}
.black_word
{
    color:black;
}
.btn-black
{
    border-color:black;
    background-color: white;
}
</style>
<div class="panel panel-blur ">
    <div class="container">
    <div class="animated zoomIn">
    <div class="row">
    <form class="form-horizontal" ng-controller="search" role="form">
        <uib-accordion close-others="showMoreSearch">
            <div class="form-inline ">
                <label class="col-sm-2 control-label">Employee Name:&emsp;</label>
                <div class="col-md-4">
                    <div class="input-group">
                        <input type="text" ng-model="ctrlScope.employeeName" class='form-control' placeholder="employee name" ></input>
                        <div class="input-group-btn">

                             <button popover-placement="bottom" popover-title="Deep Search" uib-popover-template="advanceSearchUrl" popover-is-open="popover.open" type="button" class="btn btn-default" tabindex="-1" popover-class="search_popover"><span class="caret"></span></button>
                                                     
                            <button class="btn btn-default" ng-click="searchByName()" type="button" tabindex="-1">search</button>
                        </div>
                    </div>
                </div>
            </div>
        </uib-accordion>
        <div uib-alert ng-repeat="alert in alerts" dismiss-on-timeout="2000" ng-class="'alert-' + (alert.type || 'warning')" close="closeAlert($index)">{{alert.msg}}</div>
        </form>
        

            <!--Advance search popover which will display all the advance search information and a Deepsearch button-->
            <script type="text/ng-template" id="advanceSearch.html">
           
                <div class="row">
                    <label class="col-sm-2 ">First name:</label>
                    <div class="col-md-4">
                        <input type="text" ng-model="searchObject.first_name">
                    </div>

                    <label class="col-sm-2 ">Last name:</label>
                    <div class="col-md-4">
                        <input type="text" ng-model="searchObject.last_name">
                    </div>
                </div>

                <div class="row">
                    <label class="col-sm-2 ">Job title:&emsp;</label>
                    <div class="col-md-4">
                        <input type="text" ng-model="searchObject.job_title">
                    </div>
                    <label class="col-sm-2 ">Visa status:&emsp;</label>
                    <div class="col-md-4">
                        <input type="text" ng-model="searchObject.status">
                    </div>
                </div>

                <div class="row">
                    <label class="col-sm-2 ">Major:&emsp;</label>
                    <div class="col-md-4">
                        <input type="text" ng-model="searchObject.major">
                    </div>
                    <label class="col-sm-2 ">Education:&emsp;</label>
                    <div class="col-md-4">
                        <input type="text" ng-model="searchObject.degree">
                    </div>
                </div>

                <div class="row">
                        <label class="col-sm-2 ">Visa Start:&emsp;</label>
                        <div class="col-md-4">
                            <input type="text" show-button-bar="false" uib-datepicker-popup="dd-MMMM-yyyy" ng-model="searchObject['visa_info.start_time']" ng-focus="open(1)" is-open="popup['1']" />
                        </div>
                        <label class="col-sm-2 ">Visa End:&emsp;</label>
                        <div class="col-md-4">
                            <input type="text" show-button-bar="false" uib-datepicker-popup="dd-MMMM-yyyy" ng-model="searchObject['visa_info.end_time']" ng-focus="open(0)" is-open="popup['0']" />
                        </div>
                </div>

                <div class="row">
                        <label class="col-sm-2 ">Salary:&emsp;</label>
                        <div class="col-md-4">
                            <input  type="number" ng-model="searchObject['salary']">
                        </div>
                        <label class="col-sm-2 ">Insurance:&emsp;</label>
                        <div class="col-md-4">
                            <input type="text" ng-model="searchObject['health_insurance']">
                        </div>
                </div>

                <div class="row">
                        <label class="col-sm-2 control-label">Reimbursment:&emsp;</label>
                        <div class="col-md-4">
                            <input type="number" ng-model="searchObject['reimbursement']">
                        </div>
                </div>
           
                <div class="row">
                    <label class="col-sm-2 ">Regional:</label>

                    <div class="col-md-4">
                        <input class="col-md-4" type="number" placeholder="Min" ng-model="searchObject['regional_subsides_start']">
                        <input class="col-md-4 type="number" placeholder="Max ng-model="searchObject['regional_subsides_end']">
                    </div>

                    <label class="col-sm-2 ">Payraise:</label>
                    <div class="col-md-4">

                        <input class="col-md-4" type="number" placeholder="Min" ng-model="searchObject['payraise_start']">
                        <input class="col-md-4" type="number" placeholder="Max" ng-model="searchObject['payraise_end']">
                    </div>
                </div>
                <div style="float:right;">
                    <button class="btn btn-black " ng-click="deepSearch()">
                        
                        <span class="glyphicon glyphicon-search" style="color:black;">DeepSearch</span> 
                    </button>
                </div>
            
            </script>
    </div>
    

    <!--Edit table and filter-->
    <div class="row" ng-controller="edit">
        <div uib-alert ng-repeat="alert in alerts" dismiss-on-timeout="2000" ng-class="'alert-' + (alert.type || 'warning')" close="closeAlert($index)">{{alert.msg}}</div>
        <div>
            <button uib-popover="display all Employee" popover-placement="bottom" popover-trigger="'mouseenter'" class="btn btn-primary" ng-click="changeUser(all)" popover-class="black_word">
                <span class="glyphicon "></span> All
             </button>
             <button uib-popover="display incompleted Employee" popover-placement="bottom" popover-trigger="'mouseenter'" class="btn btn-primary" ng-click="changeUser(incomplete)" popover-class="black_word">
                <span class="glyphicon "></span> Incomplete
             </button>
             <button uib-popover="display completed Employee" popover-placement="bottom" popover-trigger="'mouseenter'" class="btn btn-primary" ng-click="changeUser(complete)" popover-class="black_word">
                <span class="glyphicon "></span> Complete
             </button> 
            <div style="float:right">
            <div class="btn-group" uib-dropdown keyboard-nav>
                <button id="simple-btn-keyboard-nav" type="button" class="btn btn-primary" uib-dropdown-toggle>
                    Change Line Count <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="simple-btn-keyboard-nav">
                    <li role="menuitem"><a href="" ng-click="changePageSize(5)">5</a></li>
                    <li role="menuitem"><a href="" ng-click="changePageSize(10)">10</a></li>
                    <li role="menuitem"><a href="" ng-click="changePageSize(15)">15</a></li>
                </ul>
            </div>
            </div>
        </div>
        
        <div ng-show="displayDownload">
            <p></p>
            <button uib-popover="print" popover-placement="bottom" popover-trigger="'mouseenter'" class="btn btn-warning" type="button" ng-click="printAll()" popover-class="black_word">
                <span class="glyphicon glyphicon-print "> </span>
            </button>

            <button uib-popover="download" popover-placement="bottom" popover-trigger="'mouseenter'" class="btn btn-warning" type="button" ng-click="downloadAll()" popover-class="black_word">
                <span class="glyphicon glyphicon-download "> </span>
            </button>
        </div>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th><input type="checkbox" class="btn btn-primary" ng-click="selectAll()"> </th>
                    <th><a href="" ng-click="order('e_id')">Employee Id</a></th>
                    <th><a href="" ng-click="order('first_name')">Name</a></th>
                    <th><a href="" ng-click="order('status')">Visa Type</a></th>
                    <th><a href="" ng-click="order('end_time')">Visa Expire Date</a></th>
                    <th><a href="" ng-click="order('job_title')">Job Title</a></th>
                    <th>Operation</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="user in users | orderBy:predicate:reverse | filter:paginate" ng-class-odd='odd'>
                    <td><input type="checkbox" ng-model="user.flag" ng-click="display()"></td>
                    <td>{{ user.e_id }}</td>
                    <td>{{ user.first_name }} {{ user.last_name }}</td>
                    <td>{{ user.status }}</td>
                    <td>{{ user.end_time }}</td>
                    <td>{{ user.job_title }}</td>
                    <td>
                    <button class="btn btn-primary" ng-click="showEmployeeDetail(user.e_id)" )>
                        <span class="glyphicon glyphicon-pencil"></span>Detail
                    </button>
                    </td>
                </tr>
            </tbody>
        </table>
        <ul uib-pagination total-items="totalItems" ng-model="currentPage" boundary-links="true" items-per-page="pageSize"></ul>
    </div>

    <script type="text/ng-template" id="myModalContent.html">
        <div class="modal-header">
            <h3 class="modal-title">Detail</h3>
        </div>
        <div class="modal-body">
            <style>
                .modal-body .table
                {
                    table-layout:fixed;
                }
            </style>
            <uib-accordion close-others="personalInformation">
                <div uib-accordion-group class="panel-default" heading="Personal Information" is-open="true" is-disabled="status.isFirstDisabled">
                    <div class="container">
                        <table>
                            <tbody>
                            <tr ng-class-odd='odd'>
                                <td><label>Employee ID:</label> </td>
                                <td><span class="form-control">{{ detail.e_id || 'None'}} </span></td>
                                <td><label> First Name: </label> </td>
                                <td><span class="form-control">{{ detail.first_name || 'None'}} </span></td>
                            </tr>
                            <tr ng-class-odd='odd'>
                                <td><label>Middle Name:</label> </td>
                                <td><span class="form-control">{{ detail.middle_name || 'None'}}</span></td>
                                <td><label>Last Name: </label> </td>
                                <td><span class="form-control">{{ detail.last_name || 'None'}} </span></td>
                            </tr>
                            <tr ng-class-odd='odd'>
                                <td><label>DOB:</label> </td>
                                <td><span class="form-control">{{ detail.dob || 'None'}} </span></td>
                                <td><label>SSN: </label> </td>
                                <td><span class="form-control">{{ detail.ssn || 'None'}}</span></td>
                            </tr>
                            <tr ng-class-odd='odd'>
                                <td><label>Marriage:</span> </label>
                                <td><span class="form-control">{{ detail.marital_status || 'None'}} </span></td>
                                <td><label></label></td>
                                <td><span></span></td>
                            </tr>
                            </tobdy>
                        </table>
                 
                    </div>

                </div>
            </uib-accordion>

            <uib-accordion close-others="orderInformation">
                <div uib-accordion-group class="panel-default" heading="Order Information" is-open="true" is-disabled="status.isFirstDisabled">
                    <div class="container">
                        <table>
                            <tbody>
                            <tr ng-class-odd='odd'>
                                <td><label>Order Number:</label> </td>
                                <td><span class="form-control">{{ detail.o_id || 'None'}} </span></td>
                                <td><label>Job Location: </label> </td>
                                <td><span class="form-control">{{ detail.location || 'None'}} </span></td>
                            </tr>
                            <tr ng-class-odd='odd'>
                                <td><label>Company Name:</label> </td>
                                <td><span class="form-control">{{ detail.company_name || 'None'}}</span></td>
                                <td><label>Description: </label> </td>
                                <td><span class="form-control">{{ detail.order_description || 'None'}} </span></td>
                            </tr>
                            <tr ng-class-odd='odd'>
                                <td><label>Type:</label> </td>
                                <td><span class="form-control">{{ detail.type || 'None'}} </span></td>
                                <td><label>Title: </label> </td>
                                <td><span class="form-control">{{ detail.title || 'None'}}</span></td>
                            </tr>
                            <tr ng-class-odd='odd'>
                                <td><label>Start Time:</label> </td>
                                <td><span class="form-control">{{ detail.o_start_time || 'None'}} </span></td>
                                <td><label>End Time:</label> </td>
                                <td><span class="form-control">{{ detail.o_end_time || 'None'}}</span></td>
                            </tr>
                            <tr ng-class-odd='odd'>
                                <td><label>Owner:</label> </td>
                                <td><span class="form-control">{{ detail.owner || 'None'}} </span></td>
                                <td><label>Extension Time:</label> </td>
                                <td><span class="form-control">{{ detail.extension_time || 'None'}}</span></td>
                            </tr>
                            </tobdy>
                        </table>


                     
                    </div>
                </div>
            </uib-accordion>


            <uib-accordion close-others="contactInformation">
                <div uib-accordion-group class="panel-default" heading="Contact Information" is-open="status.isFirstOpen" is-disabled="status.isFirstDisabled">
                    <div class="container">
                        <table>
                            <tbody>
                            <tr ng-class-odd='odd'>
                                <td><label>Phone Number:</label> </td>
                                <td><span class="form-control">{{ detail.cellphone || 'None'}} </span></td>
                                <td><label>Home Number: </label> </td>
                                <td><span class="form-control">{{ detail.home_phone || 'None'}} </span></td>
                            </tr>
                            <tr ng-class-odd='odd'>
                                <td><label>Email:</label> </td>
                                <td><span class="form-control">{{ detail.email || 'None'}} </span></td>
                            </tr>
                            </tbody>
                        </table>
                       
                    </div>
                </div>
            </uib-accordion>

            <uib-accordion>
                <div uib-accordion-group class="panel-default" heading="Visa" is-open="status.isFirstOpen" is-disabled="status.isFirstDisabled">
                    <div class="container">
                        <table>
                            <tbody>
                            <tr ng-class-odd='odd'>
                                <td><label>Visa ID:</label> </td>
                                <td><span class="form-control">{{ detail.v_id || 'None'}} </span></td>
                                <td><label>Visa Type:</label> </td>
                                <td><span class="form-control">{{ detail.status || 'None'}} </span></td>
                            </tr>
                            <tr ng-class-odd='odd'>
                                <td><label>Visa Start: </label> </td>
                                <td><span class="form-control">{{ detail.start_time || 'None'}} </span></td>
                                <td><label>Visa End:</label> </td>
                                <td><span class="form-control">{{ detail.end_time || 'None'}} </span></td>               
                            </tr>
                            </tbody>
                        </table>
                        
                    </div>
                </div>
            </uib-accordion>

            <uib-accordion close-others="jobInformation">
                <div uib-accordion-group class="panel-default" heading="Education & Work Experience Information" is-open="status.isFirstOpen" is-disabled="status.isFirstDisabled">
                    <div class="container">

                        <table>
                            <tbody>
                            <tr ng-class-odd='odd'>
                                <td><label>Job Title: </label> </td>
                                <td><span class="form-control">{{ detail.title || 'None'}} </span></td>
                                <td><label>Job Type:</label> </td>
                                <td><span class="form-control">{{ detail.type || 'None'}} </span></td>               
                            </tr>
                            <tr ng-class-odd='odd'>
                                <td><label>Job Location: </label> </td>
                                <td><span class="form-control">{{ detail.location || 'None'}} </span></td>
                                <td><label>Job Description:</label> </td>
                                <td><span class="form-control">{{ detail.description || 'None'}} </span></td>               
                            </tr>
                            <tr ng-class-odd='odd'>
                                <td><label>Job Start: </label> </td>
                                <td><span class="form-control">{{ detail.w_start_time || 'None'}} </span></td>
                                <td><label>Job End:</label> </td>
                                <td><span class="form-control">{{ detail.w_end_time || 'None'}} </span></td>               
                            </tr>


                            </tbody>
                        </table>



                    </div>
                </div>
            </uib-accordion>

            <uib-accordion close-others="Termination">
                <div uib-accordion-group class="panel-default" heading="Termination" is-open="status.isFirstOpen" is-disabled="status.isFirstDisabled">
                    <div class="container">
                        <table>
                            <tbody>
                            <tr ng-class-odd='odd'>
                                <td><label>Termination Date:</label> </td>
                                <td><span class="form-control">{{ detail.termn_date || 'None'}} </span></td>
                                <td><label>Reason:</label> </td>
                                <td><span class="form-control">{{ detail.termn_reason || 'None'}} </span></td>
                            </tr>
                            
                            </tbody>
                        </table>

                    </div>
                </div>
            </uib-accordion>

            <div id="printElement" style="display:none">
                <ul ng-repeat='(k,v) in detail'>
                    <li>{{k}}: {{v}} </li>
                </ul>

            </div>

            <button class="btn btn-primary" type="button" ng-click="print()">Print</button>
            <button class="btn btn-primary" type="button" ng-click="download()">Download</button>
        </div>
        <div class="modal-footer">
            <button class="btn btn-primary" type="button" ng-click="ok()">OK</button>
        </div>
    </script>
    </div>
    </div>

