<!--This page is the main page for the admin partial html it also support a nav bar for all the partial html. The nav bar support redirect link and logout -->


<!DOCTYPE html >
<html lang="en-US" ng-app="myApp" ng-controller="application">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="lib/css/vendor.css">
<link rel="stylesheet" href="lib/css/app.css">    
<link href="https://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300italic,400italic,500,500italic,700,700italic,900italic,900&subset=latin,greek,greek-ext,vietnamese,cyrillic-ext,latin-ext,cyrillic" rel="stylesheet" type="text/css">


<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js"></script>
<script src="http://angular-ui.github.io/bootstrap/ui-bootstrap-tpls-2.0.0.js"></script>
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular-route.js"></script>
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular-animate.js"></script>

<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular-sanitize.js"></script>
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular-resource.js"></script>
<script src="https://rawgit.com/gilf/ngPrint/master/ngPrint.min.js"></script>
<script src="https://rawgit.com/eligrey/FileSaver.js/master/FileSaver.min.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular-messages.js"></script>
<link rel="stylesheet" type="text/css" href="lib/bootstrap/css/bootstrap-switch.css">
<link rel="stylesheet" type="text/css" href="lib/bootstrap/css/main.css">


<body>
    <div class="page-top clearfix ng-isolate-scope ">
        
        <div class="navbar-left">
            <h4 class="text-success"><em class="text-warning">Ames IT</em> Employee information manage system</h4>
        </div>

        <div class="navbar-right text-success">
            Hello <em class="text-info">{{username}}</em>

            <button uib-popover="Read Messages" popover-placement="bottom" popover-trigger="'mouseenter'" class="btn btn-primary" type="button" ng-click="getMessage()">
                Messages<span class="badge">{{letterNum}}</span>
            </button>

            <button uib-popover="Send Message" popover-placement="bottom" popover-trigger="'mouseenter'" class="btn btn-primary glyphicon glyphicon-send" type="button" ng-click="sendMessage()">
            </button>

            <button uib-popover="Setting" popover-placement="bottom" popover-trigger="'mouseenter'" class="btn btn-primary" ng-click="modifyConfig()">
                <span class="glyphicon glyphicon-off"></span>
            </button>

            <button uib-popover="Account Management" popover-placement="bottom" popover-trigger="'mouseenter'" class="btn btn-primary" ng-click="userConfig()">
                <span class="glyphicon glyphicon-briefcase"></span>
            </button>

            <button uib-popover="Logout" popover-placement="left-bottom" popover-trigger="'mouseenter'" class="btn btn-primary" ng-click="logout()">
                <span class="glyphicon glyphicon-log-out"></span>
            </button> &nbsp;&nbsp; &nbsp;&nbsp;
        </div>
    </div>
   <br>
   <br>
   <br>
   <br><br>

   <!--This is the message template which will display all the message in that template-->
    <script type="text/ng-template" id="message.html">
        <div class="modal-header">
            <h3 class="modal-title">Message</h3>
        </div>


        <table class="table table-striped modal-body">
            <thead>
                <tr>
                    <th><a href="">Message </a></th>
                    <th><a href="">From </a></th>
                    <th><a href="">Send time </a></th>
                    <th><a href="">Operation </a></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-class="{'success' : message.flag === true, 'danger' : message.flag === false}" ng-repeat="message in messages | filter:paginate" ng-class-odd='odd'>
                    <td>{{message.message}}</td>
                    <td>{{message.from}} </td>
                    <td>{{message.sendTime}}</td>
                    <td><input type="checkbox" ng-model="message.delete"> delete </td>
                </tr>
            </tbody>
        </table>
        <ul uib-pagination total-items="totalItems" ng-model="currentPage" max-size="10" boundary-links="true" items-per-page="pageSize"></ul>

        <div class="modal-footer">
            <button class="btn btn-primary" type="button" ng-click="ok()">OK</button>
        </div>
    </script>

    <!--This is the send template which will display the sending bar in this template-->
    <script type="text/ng-template" id="send.html">
        <div class="modal-header">
            <h3 class="modal-title">Send</h3>
        </div>
        <div class="container">
            <div ng-repeat="user in users" style="margin:8px;">
                <div>
                    <input type="checkbox" ng-model="user.flag" ng-click="disableSend()"> &nbsp;&nbsp;{{user.username}}
                </div>
            </div>

            <br>
            <label><strong>Message : </strong></label>
            <br>
            <textarea rows="10" cols="60" ng-model="data"></textarea>
            <button class="btn btn-primary" type="button" ng-disabled="disables" ng-click="send()">Send </button>

            <br/><br/>
            <br/><br/>
        </div>
    </script>


    <div ng-view>        
    </div>



    <script src='app/app_admin.js'></script>
    <script src='app/comm.js'></script>
    <script src='app/rule.js'></script>

    <!-- Controllers  -->
    <script src='app/controller/userController.js'></script>
    <script src='app/directive/myDirctive.js'></script>
    <script src='app/controller/addDetailController.js'></script>
    <script src='app/controller/editController.js'></script>
    <script src='app/controller/appController.js'></script>
    <script src='app/controller/application.js'></script>
    <script src='app/controller/search.js'></script>
    <script src='app/controller/edit.js'></script>
    <script src='app/controller/addCtrl.js'></script>
    <script src='app/controller/modifyController.js'></script>
    <script src='app/controller/userConfigController.js'></script>


    <script src='app/controller/ModalInstanceCtrl.js'></script>

    <!-- services -->
    <script src='app/service/dataService.js'></script>

    <!--This is only a test-->
    <script src='app/service/configService.js'></script>


    <!-- partial -->





</body>

</html>