<!DOCTYPE html>
<html>

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="lib/css/vendor.css">
    <link rel="stylesheet" href="lib/css/auth.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300italic,400italic,500,500italic,700,700italic,900italic,900&subset=latin,greek,greek-ext,vietnamese,cyrillic-ext,latin-ext,cyrillic"
        rel="stylesheet" type="text/css">

    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-animate.js"></script>
    <script src="http://angular-ui.github.io/bootstrap/ui-bootstrap-tpls-2.0.0.js"></script>
    <script type='text/javascript' src="http://libs.baidu.com/jquery/1.9.1/jquery.js"></script>

    <!--<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">-->


</head>

<body ng-app="myApp" ng-controller="login">
    <div class="navbar navbar-fixed-top">
        <div class="navbar-inner">
            <div class="container-fluid">
                <ul class="nav pull-right">
                </ul>
                <p>
                    <img class="img-rounded" src="lib/bootstrap/css/mainLogo.png" height="80" width="300" > Employee Information Management System
                </p>
            </div>
        </div>
    </div>
    <main class="auth-main">
        
        <div class="auth-block" ng-show="showLogin">
            <h1>Sign In</h1>
            <form class="form-horizontal">
                <div uib-alert ng-repeat="alert in alerts" dismiss-on-timeout="2000" ng-class="'alert-' + (alert.type || 'warning')" close="closeAlert($index)">{{alert.msg}}</div>
                <div class="form-group">
                    <label for="inputEmail3" class="col-sm-2 control-label">Username</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" ng-model="username" placeholder="Username" />
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputPassword3" class="col-sm-2 control-label">Password</label>
                    <div class="col-sm-10">
                        <input type="password" class="form-control" ng-model="password" placeholder="Password" />
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                        <button ng-click="login()" type="submit" class="btn btn-default btn-auth">Sign in</button>
                        <a href="#" ng-click="displayForget()" class="forgot-pass">Forgot password?</a>
                    </div>
                </div>
                
                <div class="clearfix"></div>
            </form>
        </div>
        <div class="auth-block" ng-show="showForget">
            <h1>Forget Password</h1>
            <form class="form-horizontal">
                <div class="form-group">
                    <label class="col-sm-2 control-label">Username</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" ng-model="forgetUsername" placeholder="Username">
                    </div>
                </div>
                <div class="form-group row">
                    <button ng-click="forget()" class="btn btn-default btn-auth col-md-offset-4">Send</button>
                    <button ng-click="cancel()" class="btn btn-default btn-auth col-md-offset-2">Cancel</button>
                </div>
                <div class="clearfix"></div>
            </form>
        </div>
        <script>
         var app = angular.module('myApp', ['ngAnimate', 'ui.bootstrap'])
        app.controller('login', function($scope,$http,$httpParamSerializerJQLike, $uibModal,$log,dataService) 
        {
            $scope.showLogin = true
            $scope.showForget = false
            $scope.incomplete = false
            $scope.$watch('password',function() {$scope.fill();});
            $scope.$watch('username',function() {$scope.fill();});
            $scope.fill = function() 
            {
                if ($scope.password != undefined && $scope.username != undefined) 
                {
                    $scope.incomplete = false;
                } 
                else 
                {
                    $scope.incomplete = true;
                }
            }

            $scope.login = function()
            {
                if ($scope.username == "" || $scope.password == "")
                {
                    return
                }
                var loginForm = 
                {
                    username : $scope.username,
                    password : $scope.password
                }
                dataService.login(loginForm,function(data)
                {
                    
                    if(!data.error) 
                    {
                        console.log(data);
                        window.location.href = data;
                    }
                    else
                    {
                        $scope.addAlert("warning","Invalid username & password")
                    }
                })

            }
            $scope.alerts = []
            $scope.addAlert = function(type,msg) 
            {
                if ($scope.alerts.length == 0) $scope.alerts.push({type: type,msg: msg});
            }
            $scope.closeAlert = function(index) 
            {
                $scope.alerts.splice(index, 1);
            }

            $scope.cancel = function()
            {
                $scope.showLogin = true;
                $scope.showForget = false;
            }

            $scope.displayForget = function()
            {
                $scope.showLogin = false;
                $scope.showForget = true;
            }

            
            $scope.forget = function()
            {
                dataService.forget($scope.forgetUsername,function(data)
                {
                    $scope.showLogin = true;
                    $scope.showForget = false;
                    if(!data)
                    {
                        alert('fail')
                    }
                    else
                    {
                        //$uibModalInstance.close()
                        console.log(data)
                        
                       
                    }
                })
            }

        
        })
        
    </script>
        <script src='app/service/dataService.js'></script>
        <style type="text/css">
            #line-chart {
                height: 300px;
                width: 800px;
                margin: 0px auto;
                margin-top: 1em;
            }
            
            .brand {
                font-family: georgia, serif;
            }
            
            .brand .first {
                color: #ccc;
                font-style: italic;
            }
            
            .brand .second {
                color: #fff;
                font-weight: bold;
            }
        </style>

    </main>
</body>

</html>