<!DOCTYPE html>
<html>
    <head>

        <link rel="stylesheet" type="text/css" href="lib/bootstrap/css/bootstrap.css">
        <link rel="stylesheet" type="text/css" href="lib/bootstrap/css/bootstrap-responsive.css">
        <link rel="stylesheet" type="text/css" href="stylesheets/theme.css">
        <link rel="stylesheet" href="lib/font-awesome/css/font-awesome.css">
        <meta charset = 'utf-8'>

        <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular.js"></script>
        <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-animate.js"></script>
        <script src="http://angular-ui.github.io/bootstrap/ui-bootstrap-tpls-2.0.0.js"></script>
        <script type='text/javascript' src="http://libs.baidu.com/jquery/1.9.1/jquery.js"></script>
       
        <!--<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">-->
        
    
    </head>

    <body ng-app="myApp" ng-controller="login">
    <div class="navbar navbar-fixed-top">
        <div class="navbar-inner">
            <div class="container-fluid">
                <ul class="nav pull-right">
                
                </ul>
 
                <a class="brand" href="index.html"><span class="first">Ames IT </span> <span class="second">Employee information manage system </span></a>
                <a>{{showLogin}}  {{showForget}}</a>
            </div>
        </div>
    </div>
    <div class="container" ng-show="showLogin">
        <div class="container-fluid">  
            <div class="row-fluid">
            <div class="dialog span4">
                <div class="block">
                    <div class="block-heading">Sign In</div>
                    <div class="block-body">
                        <form>
                            <label>Username</label>
                            <input type="text" class="span12" ng-model="username" placeholder="Username">
                            <label>Password</label>
                            <input type="password" ng-model="password" class="span12" placeholder="Password">
                           
                            <a ng-click="login()" class="btn btn-primary pull-right">Sign In</a>
                            
                            <div class="clearfix"></div>
                        </form>
                    </div>
                    </div>
                <p><a ng-click="displayForget()">Forgot your password?</a></p>
                </div>
            </div>
        </div>
    </div>  
        
   
    <div class="container" ng-show="showForget">
        
        <div class="container-fluid">
            <div class="row-fluid">
            <div class="dialog span4">
            <div class="block">
                    <div class="block-heading">Forget</div>
                    <div class="block-body">
                    <form>
                        <label>Username</label>
                        <input type="text" class="span12" ng-model="forgetUsername" placeholder="Username">
                        
                        <a ng-click="forget()" class="btn btn-primary pull-right">Send Password</a>
                        <div class="clearfix"></div>
                    </form>
            </div>
            </div>
            </div>
        </div>
    </div>


    <script type="text/ng-template" id="myModalContent.html">
                <div class="modal-header">
                    <h3 class="modal-title">Forget Password</h3>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label class="col-sm-2 control-label" heading="">Username:&emsp;</label>
                        <div class="col-md-6">
                            <input type="text" class="form-control" ng-model="username" placeholder="Username">
                        </div>
                    </div>

                </div>
                <br><br>
                <div class="modal-footer">
                        <button class="btn btn-success" type="button" ng-click="ok()">OK</button>
                        <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
                </div>
                <br><br>

    </script>

    <script>
        var app = angular.module('myApp', ['ngAnimate', 'ui.bootstrap'])
        app.controller('login', function($scope,$http,$httpParamSerializerJQLike, $uibModal,$log,dataService) 
        {
            $scope.showLogin = true
            $scope.showForget = false
            $scope.incomplete = false
            $scope.$watch('password',function() {$scope.fill();});
            $scope.$watch('username',function() {$scope.fill();});
            $scope.fill = function() 
            {
                if ($scope.password != undefined && $scope.username != undefined) 
                {
                    $scope.incomplete = false;
                } 
                else 
                {
                    $scope.incomplete = true;
                }
            }

            $scope.login = function()
            {
                if ($scope.username == "" || $scope.password == "")
                {
                    return
                }
                var loginForm = 
                {
                    username : $scope.username,
                    password : $scope.password
                }
                dataService.login(loginForm,function(data)
                {
                    if(!data.error) {
                        console.log(data);
                        window.location.href = data;
                    }
                })

            }

            $scope.displayForget = function()
            {
                $scope.showLogin = false;
                $scope.showForget = true;
            }

            
            $scope.forget = function()
            {
                dataService.forget($scope.forgetUsername,function(data)
                {
                    $scope.showLogin = true;
                    $scope.showForget = false;
                    if(!data)
                    {
                        alert('fail')
                    }
                    else
                    {
                        //$uibModalInstance.close()
                        console.log(data)
                        
                       
                    }
                })
            }

        
        })

        
    </script>
    <script src='app/service/dataService.js'></script>
    <style type="text/css">
        #line-chart {
            height:300px;
            width:800px;
            margin: 0px auto;
            margin-top: 1em;
        }
        .brand { font-family: georgia, serif; }
        .brand .first {
            color: #ccc;
            font-style: italic;
        }
        .brand .second {
            color: #fff;
            font-weight: bold;
        }
    </style>
</body>
</html>
