<!DOCTYPE html >
<html lang="en-US" ng-app="myApp" ng-controller="application">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js"></script>
<script src="http://angular-ui.github.io/bootstrap/ui-bootstrap-tpls-2.0.0.js"></script>
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular-route.js"></script>
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular-animate.js"></script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular-sanitize.js"></script>
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular-resource.js"></script>
<script src="https://rawgit.com/gilf/ngPrint/master/ngPrint.min.js"></script>
<script src="https://rawgit.com/eligrey/FileSaver.js/master/FileSaver.min.js"></script>

<body>
<div style="position:absolute;top:0;right:0;">
    <a href="" ng-click="getMessage()" class="control-label">Hello {{username}} You have {{letterNum}} unread messages&emsp;</a> <br>
    <a href="" ng-click="sendMessage()" class="control-label"> Send message </a>
</div>
<script type="text/ng-template" id="message.html">
    <div class="modal-header">
        <h3 class="modal-title">Message</h3>
    </div>
    <div class="modal-body" >
        <div ng-repeat="message in messages">
            <span ng-class="{'label label-default' : message.flag === true, 'label label-danger' : message.flag === false}">  message: </span> {{message.message}}
            <span ng-class="{'label label-default' : message.flag === true, 'label label-danger' : message.flag === false}"> from: </span> {{message.from}}
            <span ng-class="{'label label-default' : message.flag === true, 'label label-danger' : message.flag === false}">  send time: </span> {{message.sendTime}}

            <hr>
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" type="button" ng-click="ok()">OK</button>
    </div>
</script>

<script type="text/ng-template" id="send.html">
    <div class="modal-header">
        <h3 class="modal-title">Send</h3>
    </div>


    <div class="container">
        <div ng-repeat="user in users">
            <input type="checkbox" ng-model="user.flag"> &nbsp;&nbsp;{{user.username}}
        </div>

        <hr>
        <label><strong>Message : </strong></label>
        <br>
        <textarea  rows="10" cols="60" ng-model="data"></textarea>
        <button class="btn btn-primary" type="button" ng-click="send()">Send</button>

        <br><br>
    </div>
</script>

<div ng-view>

</div>



<script src = 'app/app_user.js'></script>
<script src = 'app/comm.js'></script>
<script src = 'app/rule.js'></script>

<!-- Controllers  -->
<script src = 'app/controller/userController.js'></script>
<script src = 'app/directive/myDirctive.js'></script>
<script src = 'app/controller/addDetailController.js'></script>
<script src = 'app/controller/editController.js'></script>
<script src = 'app/controller/appController.js'></script>
<script src = 'app/controller/application.js'></script>
<script src = 'app/controller/search.js'></script>
<script src = 'app/controller/edit.js'></script>
<script src = 'app/controller/addCtrl.js'></script>
<script src = 'app/controller/modifyController.js'></script>
<script src = 'app/controller/userConfigController.js'></script>


<script src = 'app/controller/ModalInstanceCtrl.js'></script>

<!-- services -->
<script src = 'app/service/dataService.js'></script>
<script src = 'app/service/configService.js'></script>

<!-- partial -->
<script src = 'app/partial/user/search_user.html'></script>




</body>
</html>



