<div ng-controller="modify" data-ng-init="init()">
    <div class="container">

        <h1>System Config</h1>
        <br>
        <div class="row">
            <button class="btn btn-primary" ng-click="back()">
                <span class="glyphicon glyphicon-arrow-left"></span> Back
            </button>

        </div>
        <br>

        <div class="row">
            <uib-accordion close-others="oneAtATime" class="table table-striped">

                <div uib-accordion-group class="panel-primary" heading="System Config:" is-open="true">
                    <form class="form-horizontal" role="form" ng-repeat="(key, value) in config.url">
                        <div class="form-group">
                            <label class="col-sm-2 control-label"> {{key}}:</label>
                            <div class="col-sm-4">
                                <input type="text" class="form-control" ng-model="config.url[key]" size="80">
                            </div>
                        </div>
                    </form>
                </div>

                <div uib-accordion-group class="panel-primary" heading="Database Config:" is-open="true">
                    <form class="form-horizontal" role="form" ng-repeat="(key, value) in config.database">
                        <div class="form-group">
                            <label class="col-sm-2 control-label"> {{key}}:</label>
                            <div class="col-sm-4">
                                <input type="text" class="form-control" ng-model="config.database[key]" size="80">
                            </div>
                        </div>
                    </form>
                </div>

                <div uib-accordion-group class="panel-primary" heading="Redis Config:" is-open="true">
                    <form class="form-horizontal" role="form" ng-repeat="(key, value) in config.redis">
                        <div class="form-group">
                            <label class="col-sm-2 control-label"> {{key}}:</label>
                            <div class="col-sm-4">
                                <input type="text" class="form-control" ng-model="config.redis[key]" size="80">
                            </div>
                        </div>
                    </form>
                </div>

                <div uib-accordion-group class="panel-primary" heading="Session Config:" is-open="true">
                    <form class="form-horizontal" role="form">
                        <div class="form-group">
                            <label class="col-sm-2 control-label"> secret:</label>
                            <div class="col-sm-4">
                                <input type="text" class="form-control" ng-model="config.session.secret" size="80">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label"> maxAge:</label>
                            <div class="col-sm-4">
                                <input type="text" class="form-control" ng-model="config.session.maxAge" size="80">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label"> proxy:</label>
                            <div class="col-sm-4">
                                <div class="btn-group">
                                    <button type="button" class="btn btn-primary" uib-btn-radio="true" ng-model="config.session.proxy" uncheckable>True </button>
                                    <button type="button" class="btn btn-primary" uib-btn-radio="false" ng-model="config.session.proxy" uncheckable>False </button>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label"> resave:</label>
                            <div class="col-sm-4">
                                <div class="btn-group">
                                    <button type="button" class="btn btn-primary" uib-btn-radio="true" ng-model="config.session.resave" uncheckable>True </button>
                                    <button type="button" class="btn btn-primary" uib-btn-radio="false" ng-model="config.session.resave" uncheckable>False </button>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label"> saveUninitialized:</label>
                            <div class="col-sm-4">
                            
                                <div class="btn-group">
                                    <button type="button" ng-class="{'btn btn-primary': config.session.saveUninitialized==true , 'btn btn-default': config.session.saveUninitialized!=true}" uib-btn-radio="true" ng-model="config.session.saveUninitialized" uncheckable>Open </button>
                                    <button type="button" ng-class="{'btn btn-primary': config.session.saveUninitialized!=true , 'btn btn-default': config.session.saveUninitialized==true}" uib-btn-radio="false" ng-model="config.session.saveUninitialized" uncheckable>Close </button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>

                <div uib-accordion-group class="panel-primary" heading="Service Config:" is-open="true">
                    <form class="form-horizontal" role="form" ng-repeat="(key, value) in config.service">
                        <div ng-repeat="(k,v) in value">
                            <div class="form-group">
                                <label class="col-sm-2 control-label"> {{key}}.{{k}}:</label>
                                <div class="col-sm-4">
                                    <input type="text" class="form-control" ng-model="value[k]" size="80">
                                </div>
                            </div>
                        </div>
                    </form>
                </div>

                <div ng-repeat="user in config.auth">
                    <div uib-accordion-group class="panel-primary" is-open="true">
                        <form class="form-horizontal" role="form">
                            <div class="form-group">
                                <label class="col-sm-2 control-label"> name:</label>
                                <div class="col-sm-4">
                                    <input type="text" class="form-control" ng-model="user.name" size="80">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label"> level:</label>
                                <div class="col-sm-4">
                                    <input type="number" class="form-control" ng-model="user.level" size="80">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label"> tag:</label>
                                <div class="col-sm-4">
                                    <input type="text" class="form-control" ng-model="user.tag" size="80">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label"> path:</label>
                                <div class="col-sm-4">
                                    <input type="text" class="form-control" ng-model="user.filePath" size="80">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label"> operation:</label>
                                <div class="btn-group" ng-repeat="operation in config.operationList">
                                    <button type="button" ng-class="{'btn btn-primary': user.ops[operation.tag]==true ,'btn btn-default': user.ops[operation.tag]!=true}" uib-btn-radio="true" ng-model="user.ops[operation.tag]" ng-click="print()"
                                        uncheckable> {{operation.name}} </button>

                                </div>
                            </div>
                        </form>

                    </div>
                </div>



            </uib-accordion>
        </div>

        <div uib-alert ng-repeat="alert in alerts" dismiss-on-timeout="2000" ng-class="'alert-' + (alert.type || 'warning')" close="closeAlert($index)">{{alert.msg}}</div>
        <br>
        <button class="btn btn-primary" ng-click="back()">
            <span class="glyphicon glyphicon-arrow-left"></span> Back
        </button>
        <div style="float:right">
            <button class="btn btn-primary" ng-click="updateConfig()">
            <span class="glyphicon glyphicon-pencil"></span>Update Config
        </button>
        </div>


        <br>
        <hr>
        <div class="row">
            <uib-accordion close-others="oneAtATime" class="table table-striped">
                <div uib-accordion-group class="panel-primary" heading="Create New Level:" is-open="true">

                    <form class="form-horizontal" role="form">
                        <div class="form-group">
                            <label class="col-sm-2 control-label">  Level name:</label>
                            <div class="col-sm-4">
                                <input type="text" class="form-control" ng-model="newLevel.name" size="80">
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-2 control-label"> Level:</label>
                            <div class="col-sm-1">
                                <input type="number" class="form-control" ng-model="newLevel.level" size="80">
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-2 control-label"> Tag:</label>
                            <div class="col-sm-4">
                                <input type="text" class="form-control" ng-model="newLevel.tag" size="80">
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-2 control-label"> Operation:</label>
                            <div class="col-sm-4">
                                <input type="text" class="form-control" ng-model="newLevel.ops" size="80">
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-2 control-label"> FilePath:</label>
                            <div class="col-sm-4">
                                <input type="text" class="form-control" ng-model="newLevel.filePath" size="80">

                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-2 control-label"> Url:</label>
                            <div class="col-sm-4">
                                <input type="text" class="form-control" ng-model="newLevel.url" size="80">

                            </div>
                        </div>
                </div>
            </uib-accordion>



            <div uib-alert ng-repeat="alert in levelAlert" dismiss-on-timeout="2000" ng-class="'alert-' + (alert.type || 'warning')"
                close="closeLevelAlert($index)">{{alert.msg}}</div>

            <button class="btn btn-primary" ng-click="back()">
            <span class="glyphicon glyphicon-arrow-left"></span> Back
    </button>
            <div style="float:right">
                <button class="btn btn-primary" ng-click="createLevel()">
        <span class="glyphicon glyphicon-pencil"></span>Add level
    </button>
            </div>
        </div>


        

    </div>
</div>