<div ng-controller="userConfigController" data-ng-init="init()">
    <div class="panel panel-blur ">
    <div class="container">
        <div class="row">
            <h1>User Management System </h1>
            <hr>

            <h2>Change user Information</h2>

        </div>
        <div class="row">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th><a href="" ng-click="order('id')">Employee Id</a></th>
                        <th><a href="" ng-click="order('username')">UserName</a></th>
                        <th><a href="" ng-click="order('password')">Password</a></th>
                        <th><a href="" ng-click="order('level')">Level</a></th>
                        <th>Operation</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="user in users | orderBy:predicate:reverse | filter:paginate" ng-class-odd='odd'>
                        <td>{{ user .id }}</td>
                        <td><input type="text" class="form-control" ng-model="user.username"></td>
                        <td><input type="text" class="form-control" ng-model="user.password"></td>
                        <td>

                            <div ng-repeat="element in levels" class="btn-group">
                                <button ng-class="{'btn btn-primary': element.level==user.level , 'btn btn-default': element.level!=user.level}" ng-model="user.level" uib-btn-radio="element.level" uncheckable>{{element.name}}</button>

                            </div>

                        </td>
                        <td>
                            <button class="btn btn-primary" ng-click="editUser(user.e_id)">
                    <span class="glyphicon glyphicon-pencil"></span>Update
                </button>

                        </td>
                    </tr>
                </tbody>
            </table>
            <ul uib-pagination total-items="totalItems" ng-model="currentPage" max-size="20" boundary-links="true" items-per-page="pageSize"></ul>
        </div>
        <hr>
        <div class="row">

            <h2> Create New User </h2>
            <div uib-alert dismiss-on-timeout="1000" ng-repeat="alert in alerts" ng-class="'alert-' + (alert.type || 'warning')" close="closeAlert($index)">{{alert.msg}}</div>

            <form class="form-horizontal" role="form">
                <div class="form-group">
                    <label class="col-sm-2 control-label">username:</label>
                    <div class="col-sm-4">
                        <input type="text" class="form-control" ng-model="newUser.username">
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-2 control-label">password:</label>
                    <div class="col-sm-4">
                        <input type="text" class="form-control" ng-model="newUser.password">
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-2 control-label">Level:  </label>
                    <div class="col-sm-4">

                        <div class="btn-group" ng-repeat="element in levels">
                            <button ng-class="{'btn btn-primary': element.level==newUser.level , 'btn btn-default': element.level!=newUser.level}" ng-model="newUser.level" uib-btn-radio="element.level" uncheckable>{{element.name}}</button>
                        </div>
                    </div>

                </div>

                <div class="form-group">
                    <label class="col-sm-2 control-label">Employee Id:</label>
                    <div class="col-sm-4">
                        <input type="text" class="form-control" ng-model="newUser.eid">
                    </div>
                </div>


                <div class='form-group'>
                    <button class="btn btn-primary" ng-click="back()">
                        <span class="glyphicon glyphicon-arrow-left"></span> Back
                    </button>
                            <button class="btn btn-primary" ng-click="createUser()">
                        <span class="glyphicon glyphicon-pencil"></span>Create
                    </button>
                </div>
            </form>
        </div>
        </div>
    </div>



</div>
</div>
</div>