    <div class = "container" ng-controller="editController as vm">
        <h1>Edit html {{vm.id}}</h1>
        <pre> Please input employee information here:  </pre><hr>
        <div>
            <uib-tabset active = 'active'>
                <uib-tab heading = 'Personal Info' index = 0>
                    <form class="form-horizontal" role="form">
                        <hr>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">Name :</label>
                            <div class="col-sm-2">
                                <input ng-model = 'vm.data.emp.fName' type="text" class="form-control"  placeholder="First">
                            </div>
                            <div class="col-sm-2">
                                <input ng-model="vm.data.emp.mName" type="text" class="form-control"  placeholder="Middle">
                            </div>
                            <div class="col-sm-2">
                                <input ng-model="vm.data.emp.lName" type="text" class="form-control"  placeholder="Last">
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-2 control-label">DOB :</label>
                            <div class="col-sm-6">
                                <input type="text" class="form-control" show-button-bar="false" uib-datepicker-popup="dd-MMMM-yyyy" ng-model='vm.data.emp.DOB' ng-focus="open(1)" is-open="popup['1']" ng-blur="setProgress()"/>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-2 control-label">SSN :</label>
                            <div class="col-sm-6">
                                <input ng-model = 'vm.data.emp.SSN' class="form-control" type = 'tel' maxlength="9" placeholder="0000">
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-sm-offset-2 col-sm-10">
                                <div class="checkbox">
                                    <label class = 'control-label'>
                                        <input  type="checkbox" ng-model = 'vm.data.emp.mStatus'> Married
                                    </label>
                                </div>
                            </div>
                        </div>
                    </form>
                </uib-tab>

                <uib-tab heading = 'Order Info' index = 1 >

                    <form class="form-horizontal" role="form">
                        <hr>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">Company Name:</label>
                            <div class="col-sm-6">
                                <input ng-model = 'vm.data.order.company' class="form-control" placeholder="company">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">Description:</label>
                            <div class="col-sm-6">
                                <input ng-model = 'vm.data.order.des' class="form-control" placeholder="job description">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">Location:</label>
                            <div class="col-sm-6">
                                <input ng-model = 'vm.data.order.jLocation' class="form-control" placeholder="job location">
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-2 control-label">Owner:</label>
                            <div class="col-sm-6">
                                <input ng-model = 'vm.data.order.owner' class="form-control" placeholder="owner">
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-2 control-label">Type:</label>
                            <div class="col-sm-6">
                                <input ng-model = 'vm.data.order.type' class="form-control" placeholder="job type">
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-2 control-label">Title:</label>
                            <div class="col-sm-6">
                                <input ng-model = 'vm.data.order.title' class="form-control" placeholder="job title">
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-2 control-label">Start:</label>
                            <div class="col-sm-2">
                                <input type="text" class="form-control" show-button-bar="false" uib-datepicker-popup="dd-MMMM-yyyy" ng-model='vm.data.order.sTime' ng-focus="open(5)" is-open="popup['5']" ng-blur="setProgress()"/>
                            </div>

                            <label class="col-sm-2 control-label">End:</label>
                            <div class="col-sm-2">
                                <input type="text" class="form-control" show-button-bar="false" uib-datepicker-popup="dd-MMMM-yyyy" ng-model='vm.data.order.eTime' ng-focus="open(6)" is-open="popup['6']" ng-blur="setProgress()"/>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-2 control-label">Extension Time:</label>
                            <div class="col-sm-6">
                                <input ng-model = 'vm.data.order.ext' class="form-control">
                            </div>
                        </div>


                    </form>

                </uib-tab>

                <uib-tab heading = 'Contact Info' index = 2>
                    <form class="form-horizontal" role="form">
                        <hr>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">Home Phone:</label>
                            <div class="col-sm-6">
                                <input ng-model = 'vm.data.emp.hPhone' class="form-control" type = 'tel'>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-2 control-label">Cell-Phone:</label>
                            <div class="col-sm-6">
                                <input ng-model = 'vm.data.emp.cPhone' class="form-control" type = 'tel'>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-2 control-label">E-mail:</label>
                            <div class="col-sm-6">
                                <input ng-model = "vm.data.emp.email" class="form-control">
                            </div>
                        </div>


                    </form>
                </uib-tab>

                <uib-tab heading = 'Address Info' index = 3>

                    <form class="form-horizontal" role="form">
                        <hr>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">Permanent Address:</label>
                            <div class="col-sm-6">
                                <input ng-model = 'vm.data.emp.pAdd' class="form-control">
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-2 control-label">City:</label>
                            <div class="col-sm-6">
                                <input ng-model = 'vm.data.emp.pCity' class="form-control">
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-2 control-label">State:</label>
                            <div class="col-sm-6">
                                <input ng-model = 'vm.data.emp.pState' class="form-control">
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-2 control-label">Zip Code</label>
                            <div class="col-sm-6">
                                <input ng-model = 'vm.data.emp.pZip' class="form-control" type ="tel">
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-2 control-label">Country:</label>
                            <div class="col-sm-6">
                                <input ng-model = 'vm.data.emp.pCountry' class="form-control">
                            </div>
                        </div>

                        <hr>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">Billing Address:</label>
                            <div class="col-sm-6">
                                <input ng-model = 'vm.data.emp.bAdd' class="form-control">
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-2 control-label">City:</label>
                            <div class="col-sm-6">
                                <input ng-model = 'vm.data.emp.bCity' class="form-control">
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-2 control-label">State:</label>
                            <div class="col-sm-6">
                                <input ng-model = 'vm.data.emp.bState' class="form-control">
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-2 control-label">Zip Code</label>
                            <div class="col-sm-6">
                                <input ng-model = 'vm.data.emp.bZip' class="form-control" type ="tel">
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-2 control-label">Country:</label>
                            <div class="col-sm-6">
                                <input ng-model = 'vm.data.emp.bCountry' class="form-control">
                            </div>
                        </div>


                    </form>
                </uib-tab>

                <uib-tab heading = 'Visa' index = 4>
                    <form class="form-horizontal" role="form">
                        <hr>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">Visa Type:</label>
                            <div class="col-sm-6">
                                <input ng-model = 'vm.data.visa.type' class="form-control" >
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-2 control-label">Start:</label>
                            <div class="col-sm-2">
                                <input type="text" class="form-control" show-button-bar="false" uib-datepicker-popup="dd-MMMM-yyyy" ng-model='vm.data.visa.sTime' ng-focus="open(7)" is-open="popup['7']" ng-blur="setProgress()"/>

                            </div>

                            <label class="col-sm-2 control-label">End:</label>
                            <div class="col-sm-2">
                                <input type="text" class="form-control" show-button-bar="false" uib-datepicker-popup="dd-MMMM-yyyy" ng-model='vm.data.visa.eTime' ng-focus="open(8)" is-open="popup['8']" ng-blur="setProgress()"/>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-2 control-label">status:</label>
                            <div class="col-sm-6">
                                <input ng-model = "vm.data.visa.status" class="form-control">
                            </div>
                        </div>


                    </form>
                </uib-tab>


                <uib-tab heading = 'Termination' index = 5>

                    <form class="form-horizontal" role="form">
                        <hr>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">Termination Date:</label>
                            <div class="col-sm-6">
                                <input type="text" class="form-control" show-button-bar="false" uib-datepicker-popup="dd-MMMM-yyyy" ng-model='vm.data.emp.tDate' ng-focus="open(2)" is-open="popup['2']" ng-blur="setProgress()"/>
                            </div>
                        </div>


                        <div class="form-group">
                            <label class="col-sm-2 control-label">Reason:</label>
                            <div class="col-sm-6">
                                <input ng-model = "vm.data.emp.tReason" class="form-control">
                            </div>
                        </div>


                    </form>

                    <span ng-repeat = "element in vm.tabs.empTabTM"> {{element.tag}}: <input ng-model="element.value"><br></span>
                </uib-tab>

                <uib-tab heading = 'Job & Education' index = 6>
                    <form class="form-horizontal" role="form">
                        <hr>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">University:</label>
                            <div class="col-sm-6">
                                <input ng-model = 'vm.data.edu.uni' class="form-control" >
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-2 control-label">Major:</label>
                            <div class="col-sm-6">
                                <input ng-model = 'vm.data.edu.major' class="form-control" >
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-2 control-label">Degree:</label>
                            <div class="col-sm-6">
                                <input ng-model = 'vm.data.edu.degree' class="form-control" >
                            </div>
                        </div>

                        <hr>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">Job Title:</label>
                            <div class="col-sm-6">
                                <input ng-model = "vm.data.work.title" class="form-control">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">Job Type:</label>
                            <div class="col-sm-6">
                                <input ng-model = "vm.data.work.type" class="form-control">
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-2 control-label">Start:</label>
                            <div class="col-sm-2">
                                <input type="text" class="form-control" show-button-bar="false" uib-datepicker-popup="dd-MMMM-yyyy" ng-model='vm.data.work.sTime' ng-focus="open(3)" is-open="popup['3']" ng-blur="setProgress()"/>
                            </div>

                            <label class="col-sm-2 control-label">End:</label>
                            <div class="col-sm-2">
                                <input type="text" class="form-control" show-button-bar="false" uib-datepicker-popup="dd-MMMM-yyyy" ng-model='vm.data.work.eTime' ng-focus="open(4)" is-open="popup['4']" ng-blur="setProgress()"/>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-2 control-label">Job Location:</label>
                            <div class="col-sm-6">
                                <input ng-model = "vm.data.work.location" class="form-control" placeholder="Overseas/ USA">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">Job Description</label>
                            <div class="col-sm-6">
                                <input ng-model = "vm.data.work.des" class="form-control">
                            </div>
                        </div>


                    </form>


                </uib-tab>

                <uib-tab heading = 'Salary & Benefit' index = 7>

                    <form class="form-horizontal" role="form">
                        <hr>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">Job Title:</label>
                            <div class="col-sm-6">
                                <input ng-model = 'vm.data.emp.jTitle' class="form-control">
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-2 control-label">Job Level:</label>
                            <div class="col-sm-6">
                                <input ng-model = 'vm.data.emp.jLevel' class="form-control" >
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-2 control-label">Salary:</label>
                            <div class="col-sm-6">
                                <input ng-model = 'vm.data.emp.salary' class="form-control" type = 'number'>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-2 control-label">Health Insurance:</label>
                            <div class="col-sm-6">
                                <input ng-model = 'vm.data.emp.hInsurance' class="form-control">
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-2 control-label">Regional Subsides:</label>
                            <div class="col-sm-6">
                                <input ng-model = 'vm.data.emp.rSubside' class="form-control">
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-2 control-label">Reimbursement:</label>
                            <div class="col-sm-6">
                                <input ng-model = 'vm.data.emp.reimbursement' class="form-control">
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-2 control-label">Pay Raise Percentage</label>
                            <div class="col-sm-2">
                                <input ng-model = 'vm.data.emp.rPercent' class="form-control" type = 'number' min = '0' max = '100'>

                            </div>
                            <label class = ' control-label'>%</label>

                        </div>

                    </form>

                </uib-tab>


            </uib-tabset>


            <hr>
            <button class=" btn btn-primary" ng-click="vm.updateAllById()"> Update </button>
            <button class=" btn btn-primary" ng-click="vm.back()"> Back </button>
            <br>
        </div>
    </div>

